<%= link_to "Back to Dashboard", school_dashboard_path %>
<%= link_to "Add a new course location", new_school_course_location_path %>
<h1>Course locations</h1>

<h2>Add a new course location</h2>
<div id="new_course_location_form">
  <%= render 'form', school: @school, course_location: @course_location %>
</div>


<h2>Your course locations</h2>
<!-- <div id="map" style="width: 50%; height: 600px;"></div> -->

<div id="map" style='width: 800px; height: 400px;'></div>
<div id='sidebar_container'>
</div>

<div id="course_locations">
  <% @course_locations.each do |course_location| %>
    <div id="<%= course_location.id %>">
      <%= render 'course_locations/course_location', school: @school, course_location: course_location %>
    </div>
  <% end %>
</div>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5IQZ_WJVk5y7WD7no9vE88zri_K575_g"
  type="text/javascript"></script>
  <script src="https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js"></script>
  <script src="https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"></script>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {

      function createSidebarLi(json){
        return ("<li><a>" + json.name + "</a></li>");
      };

      function bindLiToMarker($li, marker){
        $li.on('click', function(){
          handler.getMap().setZoom(10);
          marker.setMap(handler.getMap()); //because clusterer removes map property from marker
          marker.panTo();
          google.maps.event.trigger(marker.getServiceObject(), 'click');
        })
      };

      function createSidebar(json_array){
        _.each(json_array, function(json){
          var $li = $( createSidebarLi(json) );
          $li.appendTo('#sidebar_container');
          bindLiToMarker($li, json.marker);
        });
      };

      function addListenersToMarkers(json_array){
        _.each(json_array, function(json){
          const marker = json.marker
        });
      };

      handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map'}}, function(){
        var json_array = <%= raw @coordinates_hash.to_json %>;

        var markers = handler.addMarkers(json_array);

        _.each(json_array, function(json, index){
          json.marker = markers[index];
        });
        createSidebar(json_array);
        addListenersToMarkers(json_array);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        });
      });

  </script>
<% end %>
